<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist-Vue</title>

       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
           <link rel="stylesheet" href="css/main.css">

 
 <script src="js/vue.min.js"></script>
 

</head>
<body>
    <div id="app">
        <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">待辦事項</span>
            </div>
            <input type="text" class="form-control" placeholder="準備要做的任務" v-model="newTodo" @keyup.enter="addTodo">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" :class="{'active':visibility == 'all'}" @click="visibility='all'"
                            href="#">全部</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " :class="{'active':visibility == 'active'}" @click="visibility='active'"
                            href="#">進行中</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{'active':visibility == 'completed'}"
                            @click="visibility='completed'" href="#">已完成</a>
                    </li>
                </ul>
            </div>
            <ul class="list-group list-group-flush text-left">
                <li class="list-group-item" v-for="(item,index) in filteredTodo" @dblclick="editTodo(item)">
                    <div class="d-flex" v-if="item.id !== cacheTodo.id">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
                            <label class="form-check-label" :class="{'completed':item.completed}" :for="item.id">
                                {{item.title}}
                            </label>
                        </div>
                        <button type="button" class="close ml-auto" @click="removeTodo(index)" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="text" class="form-control" v-model="cacheTitle" @keyup.esc="cancelEdit()"
                        @keyup.enter="doneEdit(item)" v-if="item.id === cacheTodo.id">
                    <!--要輸入參數-->
                </li>
                <!-- <li class="list-group-item">
        <input type="text" class="form-control">
      </li>-->
            </ul>
            <div class="card-footer d-flex justify-content-between">
                <span>還有 3 筆任務未完成</span>
                <a href="#">清除所有任務</a>
            </div>
        </div>
        </div><!--container-->
    </div><!--app-->
<script src="js/all.js"></script>
</body>
</html>